*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 16px;
    text-rendering: optimizespeed;
    min-height: 100vh;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
}

header,
.meta {
    padding-left: 5%;
    padding-right: 5%;
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.breadcrumbs {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    color: #939393;
    margin-bottom: 5px;
    padding-left: 3px;
}

h1 {
    font-size: 20px;
    font-weight: normal;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: white;
}

h1 a {
    color: white;
    padding: 0 3px;
    margin: 0 1px;
}

h1 a:hover {
    background: hsl(213deg 100% 73% / 20%);
}

h1 a:first-child {
    margin: 0;
}

.meta {
    display: flex;
    gap: 1em;
    font-size: 14px;
    padding-top: 1em;
    padding-bottom: 1em;
}

#summary {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-right: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
    gap: 0.5rem;
    padding: 0.5rem;
}

.entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    height: 100%;
    background-color: #080b0f;
    text-decoration: none;
    transition: all 0.15s;
    border-radius: 0.5rem;
}

.entry a:hover {
    background-color: #162030;
    color: #fff;
}

.name {
    overflow-wrap: break-word;
    text-align: center;
    white-space: pre-wrap;
    margin-top: 1em;
}

.size {
    font-size: 0.75rem;
    margin-top: 0.5em;
    color: #496a84;
}
